@define-color bg    #1a1b26;
@define-color fg    #a9b1d6;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #85b1f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color brblk #444b6a;
@define-color white #c0caf6;
@define-color purp  #6e7cea;

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background-color: @bg;
  color: @fg;
}

#workspaces button {
  padding: 0 6px;
  color: @cyn;
  background: transparent;
  border-bottom: 2px solid @bg;
  border-radius: 0;
  min-width: 0;
}
#workspaces button.active {
  color: @cyn;
  border-bottom: 3px solid @grn;
}
#workspaces button.empty {
  color: @white;
}
#workspaces button.empty.active {
  color: @cyn;
  border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
  background-color: @red;
}

button:hover {
  background: inherit;
}

#clock,
#custom-sep,
#custom-sep2,
#custom-power,
#custom-lock,
#custom-reboot,
#custom-exit,
#cpu,
#memory,
#pulseaudio,
#temperature,
#network {
  padding: 0 8px;
  color: @white;
}

#custom-sep {
  color: @brblk;
}

#custom-power {
  color: @red;
}

#clock {
  color: @cyn;
  /*border-bottom: 3px solid @cyn;*/
}

#pulseaudio {
  color: @ylw;
  /*border-bottom: 3px solid @ylw;*/
}

#memory {
  color: @mag;
  /*border-bottom: 3px solid @mag;*/
}

#cpu {
  color: @blu;
  /*border-bottom: 3px solid @purp;*/
}

#temperature {
  color: @grn;
  /*border-bottom: 3px solid @grn;*/
}

#temperature.critical {
  background-color: @red;
}

#network {
  color: @purp;
  /*border-bottom: 3px solid @blu;*/
}

#network.disconnected {
  color: @red;
  /*border-bottom: 3px solid @red;*/
}
